<!DOCTYPE html>

<html>
    <title> 
     About
    </title>
        <head>
          <link rel="stylesheet" href="/css/styles.css">
         
        </head>
        <body>
          <div class="main-content">
              {{>header}}
              <p>I'm Uvaldo Vergara Jr currently self teaching myself code to one day do it professionally.</p>
              <p>This app uses the mapbox and darksky API to get the weather for locations.</p>
               <img src="/img/goku.jpg"  class="picture" alt="goku">
          </div>
          {{>footer}}
        </body>
       
       
</html>